<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GestBankV2</title>
    <link rel="icon" href="../static/images/logo-web.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <header>
        <h1><a href="index.html">GestBank</a></h1>
        <nav style="position: absolute; top: 2em; right: 2em; border-color: 1px white;">
            <p>Usuario:</p>
            <p id="usuario"></p>
        <button onclick="cerrarSesion()">Cerrar Sesión</button>
        </nav>
        
        <nav>
            <a href="gestbankv1.html">GestBankV1</a>
            <a href="gestbankv2.html">GestBankV2</a>
        </nav>
    </header>
    <br>
    <section id="tiempo">
        <h3>El Tiempo</h3>
    </section>
    <div>
        <h1>Bizum</h1>
        <form id="formBizum">
            <label for="tipo">Tipo</label>
            <select id="tipo" name="tipo" required>
                <option value="" disabled selected>Seleccione un tipo de movimiento</option>
                <option value="pagar">Pagar</option>
                <option value="solicitar">Solicitar</option>
            </select>
            <br>
            <label for="ibanBizum">IBAN</label>
            <select id="ibanBizum" name="iban" required>
                <option value="" disabled selected>Seleccione un IBAN</option>
            </select>
            <br>
            <label for="monto">Monto</label>
            <input type="number" id="monto" name="monto" required placeholder="0.00">
            <br>
            <br>
            <button>Registrar</button>
        </form>
    </div>
    <br>
    <div>
        <h1>Gestión de Cuentas</h1>
        <label for="ibanCuenta">IBAN</label>
        <select id="ibanCuenta" name="iban" required>
            <option value="" disabled selected>Seleccione un IBAN</option>
        </select>
        <br>
        <table>
            <thead>
                <tr>
                    <td>Iban</td>
                    <td>Saldo</td>
                </tr>
            </thead>
            <tbody id="cuenta_saldo">

            </tbody>
        </table>
        <br>
        <button onclick="verSaldoCuenta()">Ver Saldo</button>
        <button onclick="eliminarCuenta()">Eliminar</button>
    </div>
    <div>
        <h1>Actualizar Salarios</h1>
        <button onclick="mostrarCuentas(), mostrarBizums()">Actualizar Salarios</button>
    </div>
    <section>
        <div>
            <h1>Cuentas Registradas</h1>
            <table>
                <thead>
                    <tr>
                        <td>Iban</td>
                        <td>Saldo</td>
                        <td>Función</td>
                    </tr>
                </thead>
                <tbody id="cuentas">
                </tbody>
            </table>
        </div>
        <div>
            <h1>Movimientos Registrados</h1>
            <section id="descarga"></section>
            <table>
                <thead>
                    <tr>
                        <td>Cuenta (Iban)</td>
                        <td>Tipo Operación</td>
                        <td>Monto</td>
                        <td>Fecha</td>
                    </tr>
                </thead>
                <tbody id="bizums"></tbody>
            </table>
        </div>
    </section>
    <script src="../static/js/v2.js"></script>
</body>
</html>