<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GestBank</title>
    <link rel="icon" href="../static/images/logo-web.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1 style="color: white;">GestBank</h1>
    </header>
    <br>
    <h2 style="text-align: center;">Bienvenido a GestBank</h2>
    <div>
        <h1>Registrarse</h1>
        <form id="formRegisUsuario">
            <label for="dni">Dni</label>
            <input type="text" id="dni" name="dni" placeholder="Introduzca su DNI" required>
            <br>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Introduzca su contraseña" required>
            <br>
            <br>
            <button>Registrarse</button>
            <br>
            <br>
            <p>¿Ya tienes una cuenta? <a href="login.html">Inicio de sesión</a></p>
        </form>
    </div>
    <script src="../static/js/sing-up.js"></script>
</body>
</html>